body {
  background-color: #252525;
  display: flex;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #F1F1F1;
  border-radius: 50px;
  display: inline-flex;
  margin: 40px auto;
  padding: 13px 10px;
}

.container .dot {
  background-color: #6C757D;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0 3px;
  opacity: 0.7;
  animation: dotsAnimation 1800ms var(--delay) ease-in-out infinite;
}

@keyframes dotsAnimation {
  0%, 44% {
    transform: translateY(0px);
  }
  28% {
    opacity: 0.4;
    transform: translateY(-9px);
  }
  44% {
    opacity: 0.2;
  }
}